body{
    margin: 0;
    padding: 0;

    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.container-fluid{
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

#template-div{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px; 

}
.card-img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#template-container{
    margin:auto;
    margin-top: 20%;
    background-color: #fefefe;
    height: auto;
    width: 60%;
    border-radius: 10px;
    border: 10px solid rgb(255, 255, 255);
    text-align: center;
}
.col-md-4 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-8 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ip {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.dropdown {
    margin-left: 10px;
    width: auto;
}

#buttom-nav {
    display: none;
}

/* Style the buttons inside the buttom-nav */

#buttom-nav button {
    background-color: #fff;
    float: left;
    width: 33.333%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 420px) {
    #heading{
        text-align: center;
        margin-left: 0px !important;
        font-size: 20px;
    }
    .container-fluid{
        padding-top: 10px;
    }

    .card-img{
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .card{
        margin: auto;
        margin-top: 25px;
        width: 100% !important;
        border-radius: 10px;
        cursor: pointer;
    }

    .dropdown{
        margin-top: 25px;
    }
    
    #buttom-nav {
        display: block;
        overflow: hidden;
        background-color: #fff;
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .slide-container {
        padding-top: 0px !important;
    }
}

@media screen and (width: 540px) {

    #heading{
        text-align: center;
        margin-left: 0px !important;
        font-size: 20px;
    }
    .container-fluid{
        padding-top: 10px;
    }
    
    .dropdown{
        margin-top: 25px;
    }
    .card{
        margin: auto;
        margin-top: 25px;
        width: 100% !important;
        border-radius: 10px;
        cursor: pointer;
    }
    .card-img{
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }
    #buttom-nav {
        display: block;
        overflow: hidden;
        background-color: #fff;
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .slide-container {
        padding-top: 0px !important;
    }
}

.navbar {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .navbar {
        display: block;
        width: 100% !important;
    }
}

.hover-underline-animation {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}

.hover-underline-animation:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hover-underline-animation:hover:after {
    width: 100%;
    left: 0;
}

#ip {
    margin: auto;
    font-size: large;
    outline: none;
    width: 100%;
}

/* Bootstrap 4 text input with search icon */

.has-search {
    width: 50%;
    margin: auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    padding-top: 2px;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.card{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown-menu>a{
    cursor:default;
}
.dropdown-menu>a>input{
    cursor: pointer;
}
.card:hover{
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    transition: 0.5s;
}